<a href="https://colab.research.google.com/github/DeaFebrilianaFajri/DeaFebrilianaFajri.github.io/blob/main/1305619007_Dea_Febriliana_Fajri.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Topic 3 - Python Structure & Data Type Assignment

# Data Type Declaration

1. > Create an empty variable (Points : 5)

In [1]:
variable=""
print(variable)

2. > Create a variable containing your name (Points : 5)

In [3]:
nama = "Dea Febriliana Fajri"
print(nama)

Dea Febriliana Fajri

3. > Create a list of 5 items you can find in the classroom (Points : 5)

In [4]:
classroom = ['papan tulis','meja','kursi','buku','spidol']
print(classroom)

['papan tulis', 'meja', 'kursi', 'buku', 'spidol']

4. > Create a dictionary containing 2 keys and value (Points : 5)

In [6]:
animal={
    "name":"cat",
    "color":"white"
}
print(animal)

{'name': 'cat', 'color': 'white'}

# Basic Data Operation

You sold 20 pieces of electronics at the price of 12000. The customer gets a total discount of 10%.

Below are those variables:

1.   price=12000
2.   quantity_sold=20
3.   discount=10%


Using Python code, write the code the find the total money that the customer to pay. (Points : 15)

In [7]:
price = 12000
quantity_sold = 20
discount = 10/100

Total1 = price*quantity_sold
Total2 = price*quantity_sold*discount
Total = Total1 - Total2

print(Total)

216000.0

# List Data Operation

5. > Follow the instructions in the code blocks

In [8]:
# Create list of countries in the world (total 7 countries) (Points : 5)

countries = ['Indonesia','Singapore','United States of America','India','Malaysia','Switzerland','Dubai']
print(countries)

['Indonesia', 'Singapore', 'United States of America', 'India', 'Malaysia', 'Switzerland', 'Dubai']

In [9]:
# Get 4 countries from the first index of the list (Points : 5)

countries[:4]

['Indonesia', 'Singapore', 'United States of America', 'India']

In [10]:
# Append new country to the list (Points : 5)

countries.append('South Korea')
countries

['Indonesia',
 'Singapore',
 'United States of America',
 'India',
 'Malaysia',
 'Switzerland',
 'Dubai',
 'South Korea']

In [11]:
# Drop one country from the list (Points : 5)

countries.remove('Malaysia')
countries

['Indonesia',
 'Singapore',
 'United States of America',
 'India',
 'Switzerland',
 'Dubai',
 'South Korea']

In [12]:
# Get country in the last index (Points : 5)

countries[6]

'South Korea'

# Dictionary Data Operation

6. >  Follow the instructions below

In [15]:
# Given the dictionary below

customer={
    "name":['Dio','Eka','Wayu','Riki'],
    "age":[20,19,24,39],
    "gender":[1,0,0,1],
    "membership":['Platinum','Gold','Silver','Silver']
}

In [17]:
# Print all keys in customer (Points : 5)

dict.keys(customer)

dict_keys(['name', 'age', 'gender', 'membership'])

In [18]:
# Print all customer names (Points : 5)

customer["name"]

['Dio', 'Eka', 'Wayu', 'Riki']

In [21]:
# Print the first customer name (Points : 5)

customer["name"][0]

'Dio'

In [23]:
# Drop "age" key from the dictionary (Points : 5)

del customer["age"]
customer

{'gender': [1, 0, 0, 1],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver'],
 'name': ['Dio', 'Eka', 'Wayu', 'Riki']}

In [24]:
# Replace customer gender list value (Points : 20)
# gender 1 => Male
# gender 0 => Female 


customer["gender"]=['Male','Female','Female','Male']
customer

{'gender': ['Male', 'Female', 'Female', 'Male'],
 'membership': ['Platinum', 'Gold', 'Silver', 'Silver'],
 'name': ['Dio', 'Eka', 'Wayu', 'Riki']}